.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js

*.egg-info
examples/**/bin/**/*
examples/**/parts/**/*
examples/**/eggs/**/*
examples/**/libs/**/*
examples/**/develop-eggs/**/*
.installed.cfg
